@media screen and (min-width: 600px) {
  .mobile-navbar-container {
    display: none;
  }

  .desktop-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neonBlue);
    padding: 0 30px 0 30px;
  }

  .desktop-nav-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .social-book-logo {
    height: 40px;
  }

  .desktop-rounded-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid var(--neonBlue);
  }

  .desktop-nav-left-img {
    display: flex;
    gap: 15px;
  }

  .desktop-nav-icon-left {
    height: 30px;
  }

  .desktop-nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }

  .desktop-search-bar {
    border: 1px solid var(--whiteColor);
    border-radius: 40px;
    background-color: var(--backgroundColor);
    width: 150px;
    display: inline-flex;
    align-items: center;
  }

  .search-input {
    padding: 5px;
    width: 120px;
    border-radius: 15px;
  }

  .search-icon {
    height: 15px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 800px) {
  .desktop-navbar-container {
    padding: 0 35px 0 35px;
  }

  .desktop-nav-left {
    gap: 30px;
  }

  .desktop-nav-left-img {
    gap: 30px;
  }

  .desktop-search-bar {
    width: 200px;
  }

  .search-input {
    width: 170px;
  }
}
