@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

:root {
  --citrusOrange: hsl(37, 90%, 51%);
  --whiteColor: #ffff;
  --backgroundColor: #f9fafb;
  --blackColor: #1d3a5f;
  --greyishBlueColor: #49607e;
  --shadow: 0 3px 14px 0 #003e8c0d;
  --lightWood: #825e5c;
  --brownColor: #af4154;
  --lightPink: #ffe4e4;
  --yellowColor: #fff000;
  --powderBlue: #89c4f4;
  --navyBlue: #01017a;
  --endeavourBlue: #284387;
  --blueMargurite: #524eb7;
  --tealblue: #043b5c;
  --blackPearl: #080e2c;
  --neonBlue: #2d55ff;
  --jarcartaBlue: #342d71;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--backgroundColor);
}

.desktop-navbar-container {
  display: none;
}

.mobile-social-book-logo {
  width: 200px;
}

.mobile-img-icon {
  width: 30px;
  cursor: pointer;
}

.mobile-img-icon:hover {
  border: 2px solid var(--endeavourBlue);
}

html {
  /* 62.5% of 16px(default font size of browser) results to 10px, so 62.5% is 10px */
  font-size: 62.5%;
}

.mobile-rounded-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 3px solid var(--yellowColor);
}

.mobile-navbar {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--neonBlue);
  padding: 5px 15px 5px 15px;
  width: 100%;
  position: fixed;
}

.mobile-navbar-img-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (min-width: 320px) {
  .mobile-navbar {
    gap: 0.5rem;
    padding: 2px;
  }

  .mobile-navbar-img-container {
    gap: 0.5rem;
  }
}

@media screen and (min-width: 360px) {
  .mobile-navbar {
    gap: 1rem;
  }

  .mobile-navbar-img-container {
    gap: 1.5rem;
  }
}

@media screen and (min-width: 400px) {
  .mobile-navbar {
    gap: 5rem;
  }
}

@media screen and (min-width: 470px) {
  .mobile-navbar {
    gap: 7rem;
  }

  .mobile-navbar-img-container {
    gap: 3rem;
  }
}

@media screen and (min-width: 500px) {
  .mobile-navbar {
    gap: 12rem;
  }

  .mobile-navbar-img-container {
    gap: 3rem;
  }
}
