@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

:root {
  --citrusOrange: hsl(37, 90%, 51%);
  --whiteColor: #ffff;
  --backgroundColor: #f9fafb;
  --blackColor: #1d3a5f;
  --greyishBlueColor: #49607e;
  --shadow: 0 3px 14px 0 #003e8c0d;
  --lightWood: #825e5c;
  --brownColor: #af4154;
  --lightPink: #ffe4e4;
  --yellowColor: #fff000;
  --powderBlue: #89c4f4;
  --navyBlue: #01017a;
  --endeavourBlue: #284387;
  --blueMargurite: #524eb7;
  --tealblue: #043b5c;
  --blackPearl: #080e2c;
  --neonBlue: #2d55ff;
  --jarcartaBlue: #342d71;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: var(--backgroundColor); */
  background-color: var(--neonBlue);
  overflow-x: hidden;
}

.desktop-navbar-container {
  display: none;
}

@media screen and (min-width: 750px) {
  .mobile-navbar-container {
    display: none;
  }

  .desktop-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neonBlue);
    height: 50px;
    padding: 0 40px 0 40px;
  }

  .desktop-nav-left {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .social-book-logo {
    height: 40px;
  }

  .desktop-nav-left-img {
    display: inline-flex;
    gap: 30px;
  }

  .desktop-nav-icon-left {
    height: 30px;
  }

  .rounded-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid var(--neonBlue);
  }

  .desktop-nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .desktop-search-bar {
    border: 1px solid var(--whiteColor);
    border-radius: 40px;
    background-color: var(--backgroundColor);
    width: 250px;
    display: inline-flex;
    align-items: center;
  }

  .search-input {
    padding: 8px;
    width: 200px;
  }

  .search-icon {
    height: 15px;
    margin-left: 10px;
  }
}